@media screen and (min-width: 1025px) {

    #card-templates {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    #card-templates div h2 {
        margin-top: 3px;
    }

    #card-templates div p {
        margin-bottom: 40px;
    }

    .page-visits {
        font-size: 1.8rem;
    }

    .now span{
        font-size: 1.4rem;
        width: 100%;
    }

    header nav a{
        font-size: 1.5rem;
    }
}