:root {
  --primary-color: #003366;
  /* Navbar/Header with white text */
  --secondary-color: #B8860B;
  /* Buttons with white text*/
  --background-color: #F5F7FA;
  /* Page Background */
  --cards: #FFFFFF;
  /* for cards */
  --text-color: #1F2937;
  /* Dark Gray */
  --font-family: 'Poppins', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header,
footer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.now {
  display: flex;
}

.now p {
  display: block;
  width: 50%;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: var(--font-family);
  color: var(--primary-color);
  margin-top: 25px;

}



main {
  width: 90%;
  margin: 0 auto;
}

header {
  font-family: var(--font-family);
  padding: 12px;
}

header nav a {
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.4rem;
  border-bottom: 1px solid white;
  display: block;
  padding: 6px;
  text-align: center;
}

header nav a:hover {
  cursor: pointer;
  color: #B8860B;
}

header img {
  margin-top: 10px;
  display: block;
}

.home {
  background-color: rgb(18, 18, 76);
  border-bottom: 5px solid #B8860B;
}

#menu {
  display: block;
  font-size: 3.0rem;
  font-weight: 600;
  text-decoration: none;
  padding-left: .8rem;
  padding-right: .8rem;
  padding-bottom: .4rem;
  color: #003366;
  position: absolute;
  top: 25px;
  right: 30px;
  border: none;
  cursor: pointer;
  background-color: lightgrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* When the button ≡ clicked Javascript makes it visible using temple.js code. 
This code is very important to make the hamburger button interact with the html
Here the nav element is connected to the temple.js code using the "show" keyword in the temple.js code */
nav.show {
  display: block;
}

/* The button before pressing */
#menu::before {
  content: "≡";
}

/* The button after pressing */
#menu.show::before {
  content: "X"
}

.center {
  text-align: center;
  font-size: 2.5rem;
  color: #003366;
  font-weight: 800;
}

header nav {
  display: none;
  margin-top: 15px;
}

.hero {
  position: relative;
}

.hero a {
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: Roboto;
  font-size: 1.3rem;
  padding: 10px;
  color: white;
  background-color: #003366;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 800;
  border: 2px solid #003366;
  border-radius: 10px;
}

.hero a:hover {
  cursor: pointer;
  background-color: white;
  color: var(--primary-color);
}

.hero img {
  width: 100%;
  height: auto;
}

.hero span {
  font-size: 1.2rem;
  font-family: var(--font-family);
  position: absolute;
  bottom: 60px;
  right: -10px;
  color: white;
  width: 60%;
  text-align: center;
}

h1 {
  font-family: Roboto;
  margin-top: 10px;
}

h2 {
  background-color: var(--text-color);
  color: var(--background-color);
  font-family: var(--font-family);
  text-align: center;
  padding: 5px
}

.second section {
  background-color: lightgrey;
  font-family: var(--font-family);
}

.event {
  height: 300px;
  display: block;
}

.weather {
  margin-top: 20px;
  height: 300px;
}

.split {
  display: flex;
  padding-top: 20px;
}

.split p {
  font-size: 1.2rem;
  line-height: 40px;
  margin-left: 40px;
}

.forecast {
  margin-top: 20px;
  height: 300px;
  line-height: 40px;
}

.forecast p {
  font-family: var(--font-family);
  font-size: 1.2rem;
  margin-left: 100px;
}

.menu {
  text-align: center;
  padding: 20px;
  display: block;
}

.clickable,
.clickit {
  padding: 15px;
  background-color: #003366;
  color: white;
  font-family: var(--font-family);
  font-size: 1.2rem;
  font-weight: 500;
}

.clickable:hover {
  cursor: pointer;
  background-color: white;
  color: var(--primary-color);
  border: 2px solid #003366;
}

.clickit:hover {
  cursor: pointer;
  background-color: white;
  color: var(--primary-color);
  border: 2px solid #003366;
}

.grid {
  width: 90%;
  margin: 0 auto;
}

.grid img {
  width: 100%;
}

.grid h2 {
  margin-bottom: 5px;
  margin-top: 20px;
}

.grid p {
  font-family: var(--font-family);
  font-weight: 600;
  padding: 5px;
  text-align: center;
}

.grid span {
  font-family: var(--font-family);
  font-weight: 600;
  padding: 5px;
  text-align: center;
  display: block;
  font-size: 1.1rem;
}

.grid a {
  font-family: var(--font-family);
  font-weight: 600;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 5px;
  font-size: 1.3rem;
}

.grid a:hover {
  cursor: pointer;
  font-weight: 900;
}

.grid section {
  border-bottom: 2px solid #003366;
}

/* This line is used for toggling  */
.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--font-family);
  justify-content: center;
}

.list section>* {
  margin: 0 1rem;
  /* background-color: lightgrey; */
}

.list section img {
  display: none;
}

.list section p {
  display: none;
}

.list section a {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  border-bottom: 2px solid #003366;
}

.list section a:hover {
  cursor: pointer;
  font-size: 1.8rem;
}

.list section h2 {
  font-size: .8rem;
}

.list span {
  text-align: center;
  display: block;
  padding: 5px;
  font-weight: 600;
}

footer {
  font-family: var(--font-family);
  margin-top: 20px;
  padding: 18px;
  color: white;
  background-color: var(--primary-color);
}

.bold {
  font-weight: 600;
}

.foot-one {
  line-height: 27px;
}

.socialmedia img {
  background-color: white;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.socialmedia img:hover {
  cursor: pointer;
}

.foot-two {
  line-height: 27px;
}

.join {
  text-align: center;
}

.fill-form {
  display: block;
  text-align: center;
  font-family: Roboto;
  font-size: clamp(20px, 1.0vw, 30px);
  margin-top: 20px;
  width: 100%;
}


label {
  display: block;
  text-align: left;
  font-size: clamp(15px, 1.0vw, 25px);
  margin-top: 10px;
  font-family: Roboto;
  font-weight: 800;
}

input {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: clamp(15px, 1.0vw, 25px);
  color: #1a1919;
  font-family: Roboto;
  font-weight: 400;
  padding: 10px;
  border: 2px solid black;
  border-radius: 6px;
}

input:focus {
  outline: none;
  border-color: #6e1709;
  box-shadow: 0 0 30px rgba(8, 6, 128, 0.5);
  border-bottom: 5px solid #6e1709;
}

.press {
  padding: 10px;
  margin: 30px;
  background-color: darkblue;
  color: white;
  font-size: clamp(15px, 1.0vw, 25px);
  font-weight: 600;
  border-radius: 8px;
  font-family: Roboto;
  width: 50%;
  font-size: 1.2rem;
}

button:hover {
  background-color: white;
  color: darkblue;
  border: 2px solid darkblue;
  cursor: pointer;
}

.fill-form input {
  margin-bottom: 1.3rem;
  color: black;
}

.fill-item select {
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 1rem;
  font-family: Roboto;
  font-size: .9rem;
}

label[for="description"] {
  margin-top: 1rem;
}

textarea[id="description"] {
  width: 100%;
  font-family: Roboto;
  font-size: 1.3rem;
  height: 300px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
}

textarea[id="description"]:focus {
  outline: none;
  border-color: #6e1709;
  box-shadow: 0 0 30px rgba(8, 6, 128, 0.5);
  border-bottom: 5px solid #6e1709;
}

.fill-item select:hover {
  outline: none;
  border-color: #6e1709;
  box-shadow: 0 0 30px rgba(8, 6, 128, 0.5);
}

/* use grid-template-areas to re-arrange the element in this card */
#card-templates div {
  margin: 1rem, 8px;
  border-radius: 8px;
  margin-bottom: 40px;
  border: 2px solid #999;
  background-color: #eee;
  overflow: hidden;

  display: grid;
  grid-template-areas:
    "name"
    "photograph"
    "description"
    "location"
    "button";
}

#card-templates div h2 {
  margin: 1rem 10px;
  grid-area: name;
  background-color: #eee;
  color:#003366;
  font-weight: 800;
  font-family: Roboto;
}

#card-templates div img {
  width: 100%;
  grid-area: photograph;
  height: auto;
}

#card-templates div p {
  margin: 1rem 10px;
  grid-area: description;
  font-family: sans-serif;
  text-align:center;
}

#card-templates div address {
  margin: 1rem 10px;
  grid-area: location;
  font-family: sans-serif;
  text-align: center;
}

#card-templates div button {
  display: block;
  margin: 0 auto;
  padding: .8rem;
  font-size: 1.3rem;
  margin-bottom: 20px;
  grid-area: button;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid #003366;
  border-radius: 8px;
  color: #003366;
  background-color: white;
  font-weight: 600;
}

.page-visits{
  text-align: center;
  font-family: Roboto;
  font-size: 1.5rem;
  padding-bottom: 20px;
  font-weight: 600;
}

.the-head{
  text-align: center;
  font-size: 3rem;
  padding-top: 10px;
  color: #003366;
  font-weight: 900;
}