:root {
  --primary-color: #003366;
  /* Navbar/Header with white text */
  --secondary-color: #B8860B;
  /* Buttons with white text*/
  --background-color: #F5F7FA;
  /* Page Background */
  --cards: #FFFFFF;
  /* for cards */
  --text-color: #1F2937;
  /* Dark Gray */
  --font-family: 'Poppins', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header,
footer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.now {
  display: flex;
}

.now p {
  display: block;
  width: 50%;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: var(--font-family);
  color: var(--primary-color);
  margin-top: 25px;

}



main {
  width: 90%;
  margin: 0 auto;
}

header {
  font-family: var(--font-family);
  padding: 12px;
}

header nav a {
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.4rem;
  border-bottom: 2px solid white;
  display: block;
  padding: 6px;
  text-align: center;
}

header nav a:hover {
  cursor: pointer;
  color: #B8860B;
}

header img {
  margin-top: 10px;
  display: block;
}

.home {
  background-color:rgb(18, 18, 76);
}

#menu {
  display: block;
  font-size: 3.0rem;
  font-weight: 600;
  text-decoration: none;
  padding-left: .8rem;
  padding-right: .8rem;
  padding-bottom: .4rem;
  color: #003366;
  position: absolute;
  top: 25px;
  right: 30px;
  border: none;
  cursor: pointer;
  background-color: lightgrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* When the button ≡ clicked Javascript makes it visible using temple.js code. 
This code is very important to make the hamburger button interact with the html
Here the nav element is connected to the temple.js code using the "show" keyword in the temple.js code */
nav.show {
  display: block;
}

/* The button before pressing */
#menu::before {
  content: "≡";
}

/* The button after pressing */
#menu.show::before {
  content: "X"
}


header nav {
  display: none;
  margin-top: 15px;
}

.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero span {
  font-size: 1.2rem;
  font-family: var(--font-family);
  position: absolute;
  bottom: 60px;
  right: -10px;
  color: white;
  width: 60%;
  text-align: center;
}

h1 {
  font-family: var(--font-family);
  margin-top: 10px;
}

h2 {
  background-color: var(--text-color);
  color: var(--background-color);
  font-family: var(--font-family);
  text-align: center;
  padding: 5px
}

.second section {
  background-color: lightgrey;
  font-family: var(--font-family);
}

.event {
  padding-bottom: 180px;
}

.weather {
  margin-top: 20px;
  padding-bottom: 40px;
}

.split {
  display: flex;
  padding-top: 20px;
}

.split p {
  font-size: 1.2rem;
  line-height: 30px;
}

.forecast {
  margin-top: 20px;
  padding-bottom: 20px;
  line-height: 40px;
}

.forecast p {
  margin-left: 20px;
  font-family: var(--font-family);
  font-size: 1.2rem;
}

.menu {
  text-align: center;
  padding: 20px;
  display: block;
}

.clickable,
.clickit {
  padding: 15px;
  background-color: #003366;
  color: white;
  font-family: var(--font-family);
  font-size: 1.2rem;
  font-weight: 500;
}

.clickable:hover {
  cursor: pointer;
  background-color: white;
  color:var(--primary-color);
  border: 2px solid #003366;
}

.clickit:hover {
  cursor: pointer;
  background-color: white;
  color:var(--primary-color);
  border: 2px solid #003366;
}

.grid {
  width: 90%;
  margin: 0 auto;
}

.grid img {
  width: 100%;
}

.grid h2 {
  margin-bottom: 5px;
  margin-top: 20px;
}

.grid p {
  font-family: var(--font-family);
  font-weight: 600;
  padding: 5px;
  text-align: center;
}

.grid a {
  font-family: var(--font-family);
  font-weight: 600;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 5px;
  font-size: 1.3rem;
}

.grid a:hover {
  cursor: pointer;
  font-weight: 900;
}

.grid section {
  border-bottom: 2px solid #003366;
}

/* This line is used for toggling  */
.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--font-family);
}

.list section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0.5rem;
}

.list section>* {
  margin: 0 1rem;
}

.list section img {
  display: none;
}

.list section p {
  display: none;
}

.list section a {
  margin-top: 6px;
  font-size: 1rem;
}

.list section h2 {
  font-size: .8rem;
}


footer {
  font-family: var(--font-family);
  margin-top: 20px;
  padding: 18px;
  color: white;
  background-color: var(--primary-color);
}

.bold {
  font-weight: 600;
}

.foot-one {
  line-height: 27px;
}

.socialmedia img {
  background-color: white;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.socialmedia img:hover {
  cursor: pointer;
}

.foot-two {
  line-height: 27px;
}