@media screen and (min-width: 650px) {

    header,
    main,
    footer {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
        font-size: 40px;
        padding: 8px;
    }

    .mycard {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }

    section {
        width: 96%;
    }
}

@media screen and (min-width: 1000px) {
    .mycard {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 6px;
    }
}